[defaults]
inventory         = localhost,
connection        = local
gather_facts      = true
retry_files_enabled = false

# Lange Tasks (ROCm/PyTorch-Installation) nicht timeouten
timeout           = 60

[ssh_connection]
pipelining        = true
